@charset "utf-8";
@import "~bulma/bulma.sass";

header {
  margin: 20px;
}

footer {
  margin-top: 20px;
}

hr {
  margin: 0;
}

p {
  line-height: 2em;
}

h2 {
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 30px;
}

h3 {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 23px;
}

article {
  section {
    p {
      margin: 14px 0;
    }
  }
}

ul {
  margin-top: 10px;
  margin-bottom: 10px;

  li {
    list-style: circle;
    margin-left: 20px;
  }
}

ol {
  margin-top: 10px;
  margin-bottom: 10px;

  li {
    list-style: decimal;
    margin: 8px 20px;
  }
} 

nav {
  ul {
    li {
      list-style: none;
    }
  }
}